<!-- dashboard-layout.component.html -->
<div class="dashboard-layout">
  <aside class="sidebar">
    <h3>Menú Estudiante</h3>
    <ul>
      <li>
        <button [routerLink]="['/dashboard-estudiante']" routerLinkActive="active">
          <span class="material-icons">home</span>
          <span class="sidebar-text">Inicio</span>
        </button>
      </li>
      <li>
        <button (click)="navigateIfNotCurrent(unidadesRoute)" [class.active]="currentUrl === unidadesRoute">
          <span class="material-icons">layers</span>
          <span class="sidebar-text">Unidades</span>
        </button>
      </li>
      <li>
        <button (click)="navigateIfNotCurrent('/dashboard-mis-clases-estudiante')" [class.active]="currentUrl === '/dashboard-mis-clases-estudiante'">
          <span class="material-icons">school</span>
          <span class="sidebar-text">Mis Clases</span>
        </button>
      </li>
      <li>
        <button (click)="navigateIfNotCurrent('/dashboard-estudiante/evaluaciones')" [class.active]="currentUrl === '/dashboard-estudiante/evaluaciones'">
          <span class="material-icons">assignment</span>
          <span class="sidebar-text">Evaluaciones</span>
        </button>
      </li>
      <li>
        <button (click)="navigateIfNotCurrent('/analisis-estudiante')" [class.active]="currentUrl === '/analisis-estudiante'">
          <span class="material-icons">analytics</span>
          <span class="sidebar-text">Análisis Estudiante</span>
        </button>
      </li>
    </ul>
  </aside>

  <!-- Aquí Angular pintará el contenido dinámico -->
  <main class="main-content">
    <ng-content></ng-content>
    <router-outlet></router-outlet>
  </main>
</div>
