<header>
  <h1>BLS</h1>
  <nav>
    <div class="nav-links">
      <ng-container *ngIf="!isLoggedIn">
        
        <li><a routerLink="/">Inicio</a></li>
        <li class="dropdown">
          <a routerLink="/programas" class="dropdown-toggle">Programas 
            <svg width="12" height="12" viewBox="0 0 24 24" fill="currentColor">
              <path d="M7 10l5 5 5-5z"/>
            </svg>
          </a>
          <ul class="dropdown-menu">
            <li><a routerLink="/programas">Lo que debes saber</a></li>
            <li><a routerLink="/ben">Business English Program</a></li>
            <li><a routerLink="/ipc">Inglés para Contabilidad</a></li>
            <li><a routerLink="/ief">Inglés para Entidades Financieras</a></li>
            <li><a routerLink="/exp">Executive Plus</a></li>
            <li><a routerLink="/ete">English Test Empresarial</a></li>
            
          </ul>
        </li>
        <li><a routerLink="/nosotros">Nosotros</a></li>
        <li><a href="https://wa.me/573153164146" target="_blank">Contacto</a></li>
        <a routerLink="/login">Inicio de Sesión</a> |
        <a routerLink="/register">Registrarse</a>
       
        </ng-container>
      <ng-container *ngIf="isLoggedIn">
        <button (click)="cerrarSesion()" class="logout-btn" title="Cerrar sesión">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none" viewBox="0 0 24 24" stroke="#2563eb" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a2 2 0 01-2 2H7a2 2 0 01-2-2V7a2 2 0 012-2h6a2 2 0 012 2v1" />
          </svg>
        </button>
      </ng-container>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>