<div class="dashboard-layout">
  <header class="top-bar">
    <div class="logo">
      <h1>Panel del Profesor</h1>
    </div>
    <div class="user-actions">
      <app-campana-notificaciones></app-campana-notificaciones>
      <div class="user-info">
        <span class="material-icons">account_circle</span>
        <span>Profesor</span>
      </div>
    </div>
  </header>
  
  <aside class="sidebar">
    <h3>Menú</h3>
    <ul>
      <li>
        <button [ngClass]="{active: isPerfilActive()}" (click)="irAMiPerfil()">
          <span class="material-icons" style="vertical-align: middle;">person</span>
          <span class="sidebar-text">Mi Perfil</span>
        </button>
      </li>
      <li>
        <button [routerLink]="['mis-clases']" routerLinkActive="active">
          <span class="material-icons" style="vertical-align: middle;">class</span>
          <span class="sidebar-text">Programar Clase</span>
        </button>
      </li>
      <li>
        <button [routerLink]="['planeador']" routerLinkActive="active">
          <span class="material-icons" style="vertical-align: middle;">event_note</span>
          <span class="sidebar-text">Planeador</span>
        </button>
      </li>
      <li>
        <button [routerLink]="['unidades']" routerLinkActive="active">
          <span class="material-icons" style="vertical-align: middle;">view_module</span>
          <span class="sidebar-text">Unidades</span>
        </button>
      </li>
      <li>
        <button [routerLink]="['analisis-estudiante']" routerLinkActive="active">
          <span class="material-icons" style="vertical-align: middle;">insights</span>
          <span class="sidebar-text">Análisis estudiante</span>
        </button>
      </li>
      <li>
        <button [routerLink]="['tareas']" routerLinkActive="active">
          <span class="material-icons" style="vertical-align: middle;">folder_open</span>
          <span class="sidebar-text">Tareas</span>
        </button>
      </li>
      <li>
        <button [routerLink]="['calificar']" routerLinkActive="active">
          <span class="material-icons" style="vertical-align: middle;">grade</span>
          <span class="sidebar-text">Calificar</span>
        </button>
      </li>
      <li>
        <button [routerLink]="['quizzes']" routerLinkActive="active">
          <span class="material-icons" style="vertical-align: middle;">quiz</span>
          <span class="sidebar-text">Evaluaciones</span>
        </button>
      </li>
    </ul>
  </aside>
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
